<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin/main}">
<head>
    <meta charset="utf-8">
    <title th:text="${pageTitle}">ADMIM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="row g-4" layout:fragment="content">
                <div class="col-12">
                    <div class="bg-light rounded h-100 p-4">
                        <div class="table-responsive">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Thông tin Quyền <span th:text="${role.getName()}"></span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Mã Quyền: <span th:text="${role.getRoleID()}"></span></h5>
                                    <p class="card-text">Tên Quyền: <span th:text="${role.getName()}"></span></p>
                                    <p class="card-text">Trạng thái:
                                        <span th:text="${role.getActive() == true ? 'Hiển thị' : 'Không hiển thị'}"></span>
                                    </p>
                                    <div class="card-footer">
                                        <a th:if="${role.getActive() == true}"
                                           th:href="@{/role/deactivate/{id}(id=${role.getRoleID()})}"
                                           class="btn btn-outline-danger"
                                           onclick="return confirm('Quản lý có chắc chắn muốn tắt quyền này?');">Tắt</a>
                                        <a th:if="${role.getActive() == false}"
                                           th:href="@{/role/activate/{id}(id=${role.getRoleID()})}"
                                           class="btn btn-outline-success"
                                           onclick="return confirm('Quản lý có chắc chắn muốn bật quyền này?');">Bật</a>

                                        <a th:href="@{/role/edit/{id}(id=${role.getRoleID()})}"
                                           class="btn btn-outline-primary">Sửa</a>
                                        <a th:href="@{/role}" class="btn btn-outline-info">Quay về</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
</body>
</html>
