<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin/main}">
<head>
    <meta charset="utf-8">
    <title th:text="${pageTitle}">Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="row g-4" layout:fragment="content">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <div class="table-responsive">
                <div class="card mb-3">
                    <div class="card-header">
                        Position Information: <span th:text="${position.getName()}"></span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Position ID: <span th:text="${position.getId()}"></span></h5>
                        <p class="card-text">Position Name: <span th:text="${position.getName()}"></span></p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/position/edit/{id}(id=${position.getId()})}" class="btn btn-outline-primary">Edit</a>
                        <a th:href="@{/position}" class="btn btn-outline-info">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
