<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin/main}">
<head>
  <meta charset="utf-8">
  <title>TimeKeeping</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div class="row g-4" layout:fragment="content">

  <div class="alert alert-success alert-dismissible fade show" th:if="${success}" th:text="${success}" id="successAlert"></div>
  <div class="alert alert-danger alert-dismissible fade show" th:if="${error}" th:text="${error}" id="errorAlert"></div>

  <script>
    // Auto-hide notification after 5 seconds (5000ms)
    setTimeout(function() {
      var successAlert = document.getElementById('successAlert');
      if (successAlert) {
        successAlert.classList.remove('show');
        successAlert.classList.add('fade');
      }
    }, 3000); // Auto-hide after 3 seconds

    setTimeout(function() {
      var errorAlert = document.getElementById('errorAlert');
      if (errorAlert) {
        errorAlert.classList.remove('show');
        errorAlert.classList.add('fade');
      }
    }, 3000);
  </script>

  <!-- Stats Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <!-- Total Employees -->
      <div class="col-sm-6 col-xl-3">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
          <i class="fa fa-users fa-3x text-primary"></i>
          <div class="ms-3">
            <p class="mb-2">Total Employees</p>
            <h6 class="mb-0" th:text="${totalEmployees}">1234</h6>
          </div>
        </div>
      </div>

      <!-- Total Attendance -->
      <div class="col-sm-6 col-xl-3">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
          <i class="fa fa-clock fa-3x text-primary"></i>
          <div class="ms-3">
            <p class="mb-2">Total Attendance</p>
            <h6 class="mb-0" th:text="${totalAttendances}">1234</h6>
          </div>
        </div>
      </div>

      <!-- Total Payrolls -->
      <div class="col-sm-6 col-xl-3">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
          <i class="fa fa-money-bill fa-3x text-primary"></i>
          <div class="ms-3">
            <p class="mb-2">Total Payrolls</p>
            <h6 class="mb-0" th:text="${totalPayrolls}">1234</h6>
          </div>
        </div>
      </div>

      <!-- Total Roles -->
      <div class="col-sm-6 col-xl-3">
        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
          <i class="fa fa-user-shield fa-3x text-primary"></i>
          <div class="ms-3">
            <p class="mb-2">Total Roles</p>
            <h6 class="mb-0" th:text="${totalRoles}">1234</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Stats End -->


  <!-- Charts Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="col-sm-12 col-xl-6">
        <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Salary Chart</h6>
          </div>
          <canvas id="salary-chart"></canvas>
        </div>
      </div>

      <div class="col-sm-12 col-xl-6">
        <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Employee Growth Chart</h6>
          </div>
          <canvas id="employee-chart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- Charts End -->


  <!-- Payroll Table Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Payroll Table</h6>
        <button id="downloadExcel" class="btn btn-primary btn-sm">Download Excel</button>
      </div>
      <div class="table-responsive">
        <table class="table text-start align-middle table-bordered table-hover mb-0" id="payrollTable">
          <thead>
          <tr class="text-dark">
            <th scope="col"><input class="form-check-input" type="checkbox" id="selectAll"></th>
            <th scope="col">Account Name</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Salary Template</th>
            <th scope="col">Pay Date</th>
            <th scope="col">Gross Salary</th>
            <th scope="col">Net Salary</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="payroll, iterStat : ${payrolls}">
            <td><input class="form-check-input row-select" type="checkbox"></td>
            <td th:text="${payroll.getAccount().getFullName()}"></td>
            <td class="format-date" th:text="${payroll.getCreatedAt()}"></td>
            <td th:text="${payroll.getSalaryTemplate().getGradeName()}"></td>
            <td class="format-date" th:text="${payroll.getPayDate()}"></td>
            <td class="grossSalary" th:text="${payroll.grossSalary}"></td>
            <td class="netSalary" th:text="${payroll.netSalary}"></td>
            <td>
              <a th:href="@{/payroll/edit/{id}(id=${payroll.getPayrollID()})}" class="btn btn-primary btn-sm">Edit</a>
              <a th:href="@{/payroll/{id}(id=${payroll.getPayrollID()})}" class="btn btn-info btn-sm">Details</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

  <script>
    document.getElementById('downloadExcel').addEventListener('click', function () {
      let table = document.getElementById('payrollTable');
      let rows = table.querySelectorAll('tbody tr');
      let selectedRows = [];

      rows.forEach(row => {
        const checkbox = row.querySelector('.row-select');
        if (checkbox.checked) {
          const rowData = [];
          row.querySelectorAll('td').forEach((cell, index) => {
            if (index !== 0 && index !== 7) {  // Skip checkbox and actions column
              rowData.push(cell.innerText);
            }
          });
          selectedRows.push(rowData);
        }
      });

      if (selectedRows.length === 0) {
        alert('Please select at least one row to download.');
        return;
      }

      let wb = XLSX.utils.book_new();
      let ws = XLSX.utils.aoa_to_sheet([
        ['Account Name', 'Creation Date', 'Salary Template', 'Pay Date', 'Gross Salary', 'Net Salary'],
        ...selectedRows
      ]);
      XLSX.utils.book_append_sheet(wb, ws, 'Payroll Table');
      XLSX.writeFile(wb, 'payroll_table.xlsx');
    });

    // Select All functionality
    document.getElementById('selectAll').addEventListener('change', function () {
      let checkboxes = document.querySelectorAll('.row-select');
      checkboxes.forEach(checkbox => {
        checkbox.checked = this.checked;
      });
    });

    function formatDateString(dateString) {
      if (!dateString) {
        return "Not available";
      }

      const date = new Date(dateString);
      if (isNaN(date.getTime())) {
        return "Not available";
      }

      return date.toLocaleDateString('en-GB') + ' ' + date.toLocaleTimeString('en-GB', {
        hour: '2-digit',
        minute: '2-digit'
      });
    }

    const dateElements = document.querySelectorAll('.format-date');
    dateElements.forEach(function(element) {
      const originalDate = element.innerText;
      const formattedDate = formatDateString(originalDate);
      element.innerText = formattedDate;
    });

    function formatNumber(num) {
      return num.toLocaleString('en-GB', { style: 'currency', currency: 'VND', minimumFractionDigits: 0 });
    }

    let grossSalaries = document.querySelectorAll(".grossSalary");
    let netSalaries = document.querySelectorAll(".netSalary");

    grossSalaries.forEach(function(item) {
      let value = parseFloat(item.innerText);
      item.innerText = formatNumber(value);
    });

    netSalaries.forEach(function(item) {
      let value = parseFloat(item.innerText);
      item.innerText = formatNumber(value);
    });
  </script>
  <!-- Payroll Table End -->

</div>
</body>
</html>
