<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin/main}">

<head>
    <meta charset="utf-8" />
    <title th:text="${pageTitle}">Work Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<div layout:fragment="content">
    <style>
        .work-schedule-container {
            position: relative;
        }

        .cache-overlay-buttons {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
        }

        .overlay-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: opacity 0.3s ease, display 0.3s ease;
        }

        .work-schedule-container:hover .overlay-buttons {
            opacity: 1;
            display: flex;
        }

        .overlay-buttons a {
            margin: 0 6px;
            font-size: 1.5rem;
            transition: transform 0.3s ease;
        }

        .overlay-buttons a:hover {
            transform: scale(1.2);
        }

        /* Hiệu ứng khi đang kéo thả */
        .work-schedule-container.dragging {
            background-color: #f0f0f0;
            border: 2px dashed #ccc;
        }
    </style>
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successMessage}">
        <span th:text="${successMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row g-4">
        <div class="col-12">
            <h1 class="text-center">
                WORK SCHEDULE
            </h1>
        </div>
    </div>
    <form action="/workSchedules" method="get">
        <div class="row g-4">
            <div class="col-12">
                <div class="input-group">
                    <input type="week" class="form-control" id="week" name="week" value="">
                    <input type="text" class="form-control" name="name" placeholder="Search by employee name" aria-label="Search" style="flex-grow: 7;">
                    <button class="btn btn-outline-secondary" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="row g-4">
        <div class="col-12">
            <div class="rounded h-100 my-4">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle;">Employee</th>
                            <th th:each="dayName : ${dayNamesInWeek}" th:text="${dayName}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="acc : ${accounts}">
                                <span th:each="entry : ${scheduleMap}">
                                    <span th:if="${entry.key == acc}">
                                        <td th:text="${entry.key.fullName}"></td>
                                        <td th:each="date : ${datesInWeek}">
                                            <div class="work-schedule-container"
                                                 th:if="${entry.value.get(date) != null}"
                                                 th:id="'ws-' + ${entry.value.get(date).scheduleId}"
                                                 draggable="true"
                                                 th:attr="ondragstart=|drag(event, ${entry.value.get(date).scheduleId}, '${#temporals.format(date, 'yyyy-MM-dd')}', ${entry.key.accountID})|, ondrop=|drop(event, ${entry.value.get(date).scheduleId})|"
                                                 ondragover="allowDrop(event)">
                                                <form th:action="@{/workSchedules/updateShift}" method="get">
                                                    <input type="hidden" name="scheduleId" th:value="${entry.value.get(date).scheduleId}"/>
                                                    <div class="input-group">
                                                        <select name="shiftId" required class="form-control">
                                                            <option th:each="shiftOption : ${shifts}" th:value="${shiftOption.shiftId}" th:text="${shiftOption.shiftName}" th:selected="${shiftOption.shiftId} == ${entry.value.get(date).shift.shiftId}">Select Shift</option>
                                                        </select>
                                                        <button type="submit" class="btn btn-outline-primary">
                                                            <i class="fa-solid fa-pen"></i>
                                                        </button>
                                                    </div>
                                                </form>

                                                <div>Status: <span th:text="${entry.value.get(date).status.displayName}"></span></div>

                                                <div class="overlay-buttons">
                                                    <a th:href="@{/workSchedules/approval?id={id}&status={status}(id=${entry.value.get(date).scheduleId},status=${T(com.timekeeping.timekeeping.enums.ApprovalStatus).APPROVED})}" class="btn-approve text-decoration-none text-primary">
                                                        <span th:if="${entry.value.get(date).status == T(com.timekeeping.timekeeping.enums.ApprovalStatus).APPROVED}">
                                                            <i class="fas fa-thumbs-up fs-4"></i>
                                                        </span>
                                                        <span th:if="${entry.value.get(date).status != T(com.timekeeping.timekeeping.enums.ApprovalStatus).APPROVED}">
                                                            <i class="far fa-thumbs-up fs-4"></i>
                                                        </span>
                                                    </a>

                                                    <a th:href="@{/workSchedules/approval?id={id}&status={status}(id=${entry.value.get(date).scheduleId},status=${T(com.timekeeping.timekeeping.enums.ApprovalStatus).REJECTED})}" class="btn-reject text-decoration-none text-primary">
                                                        <span th:if="${entry.value.get(date).status == T(com.timekeeping.timekeeping.enums.ApprovalStatus).REJECTED}">
                                                            <i style="transform: scaleX(-1);" class="fas fa-thumbs-down mx-1 fs-4"></i>
                                                        </span>
                                                        <span th:if="${entry.value.get(date).status != T(com.timekeeping.timekeeping.enums.ApprovalStatus).REJECTED}">
                                                            <i style="transform: scaleX(-1);" class="far fa-thumbs-down mx-1 fs-4"></i>
                                                        </span>
                                                    </a>

                                                    <a th:href="@{/workSchedules/edit/{id}(id=${entry.value.get(date).scheduleId})}" class="btn-edit text-decoration-none text-primary">
                                                        <i class="fas fa-info-circle fs-4"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="work-schedule-container"
                                                 th:if="${entry.value.get(date) == null}"
                                                 th:attr="ondrop=|dropToNew(event, '${#temporals.format(date, 'yyyy-MM-dd')}', ${entry.key.accountID})|"
                                                 ondragover="allowDrop(event)"
                                            >
                                                <!-- Display form to create new work shift -->
                                                <form th:action="@{/workSchedules/create}" method="post">
                                                    <input type="hidden" name="scheduleId"/>
                                                    <input type="hidden" name="date" th:value="${date}"/>
                                                    <input type="hidden" name="accountId" th:value="${entry.key.accountID}"/>
                                                    <div class="input-group">
                                                        <select name="shiftId" required class="form-control">
                                                            <option value="" disabled selected>Select Shift</option>
                                                            <option th:each="shiftOption : ${shifts}" th:value="${shiftOption.shiftId}" th:text="${shiftOption.shiftName}">Select Shift</option>
                                                        </select>
                                                        <button type="submit" class="btn btn-outline-success">
                                                            <i class="fa-solid fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                    </span>
                                </span>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function allowDrop(ev) {
            ev.preventDefault(); // Cho phép thả phần tử
        }

        function drag(ev, scheduleIdFrom, date, accountID) {
            ev.dataTransfer.setData("text", ev.target.id);
            ev.dataTransfer.setData("date", date);
            ev.dataTransfer.setData("accountID", accountID);
            ev.target.classList.add('dragging'); // Thêm lớp dragging khi kéo
            ev.dataTransfer.setData("scheduleIdFrom", scheduleIdFrom);
        }

        function drop(ev, scheduleIdTo) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            var draggedElement = document.getElementById(data);
            var scheduleIdFrom = ev.dataTransfer.getData("scheduleIdFrom");

            // Lấy phần tử nơi thả
            var targetElement = ev.currentTarget;

            // Đảm bảo rằng phần tử thả không phải là phần tử con của phần tử cha
            if (targetElement !== draggedElement && draggedElement.closest(".work-schedule-container") && targetElement.closest(".work-schedule-container")) {
                // Lưu vị trí của phần tử đích và nguồn
                var sourceParent = draggedElement.parentNode;
                var targetParent = targetElement.parentNode;

                // Hoán đổi vị trí giữa phần tử nguồn và phần tử đích
                targetParent.replaceChild(draggedElement, targetElement);
                sourceParent.appendChild(targetElement);

                // Loại bỏ lớp dragging
                draggedElement.classList.remove('dragging');

                // Cập nhật lịch sau khi hoán đổi (gửi yêu cầu cập nhật lịch làm việc nếu cần)
                updateSchedule(scheduleIdFrom, scheduleIdTo); // Cập nhật lịch sau khi thả
            }
        }

        function dropToNew(ev, date, accountID) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            var draggedElement = document.getElementById(data);
            var scheduleIdFrom = ev.dataTransfer.getData("scheduleIdFrom");

            // Lấy phần tử nơi thả
            var targetElement = ev.currentTarget;

            // Đảm bảo rằng phần tử thả không phải là phần tử con của phần tử cha
            if (targetElement !== draggedElement && draggedElement.closest(".work-schedule-container") && targetElement.closest(".work-schedule-container")) {
                // Lưu vị trí của phần tử đích và nguồn
                var sourceParent = draggedElement.parentNode;
                var targetParent = targetElement.parentNode;

                // Hoán đổi vị trí giữa phần tử nguồn và phần tử đích
                targetParent.replaceChild(draggedElement, targetElement);
                sourceParent.appendChild(targetElement);


                // Loại bỏ lớp dragging
                draggedElement.classList.remove('dragging');

                // Cập nhật lịch sau khi hoán đổi (gửi yêu cầu cập nhật lịch làm việc nếu cần)
                updateScheduleToNew(scheduleIdFrom, date, accountID); // Cập nhật lịch sau khi thả
            }
        }

        function updateScheduleToNew(scheduleIdFrom, date, accountID) {
            // Gửi yêu cầu AJAX hoặc Fetch API để cập nhật lịch làm việc sau khi kéo thả
            var url = "/workSchedules/dragDropWS"; // URL backend xử lý yêu cầu
            var data = {
                "scheduleIdFrom": scheduleIdFrom,
                "scheduleToDate": date,
                "scheduleToAccountID": accountID
            };

            // Sử dụng Fetch API để gửi dữ liệu
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log("Success:", data);
                location.reload();
                // Cập nhật giao diện người dùng nếu cần
                //alert("Work schedule has been updated!");
            })
            .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred while updating the work schedule.");
            });
        }

        function updateSchedule(scheduleIdFrom, scheduleIdTo) {
            // Gửi yêu cầu AJAX hoặc Fetch API để cập nhật lịch làm việc sau khi kéo thả
            var url = "/workSchedules/dragDropWS"; // URL backend xử lý yêu cầu
            var data = {
                "scheduleIdFrom": scheduleIdFrom,
                "scheduleIdTo": scheduleIdTo
            };

            // Sử dụng Fetch API để gửi dữ liệu
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log("Success:", data);
                // Cập nhật giao diện người dùng nếu cần
                //alert("Work schedule has been updated!");
            })
            .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred while updating the work schedule.");
            });
        }

    </script>
</div>



</body>

</html>