<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin/main}">
<head>
  <meta charset="utf-8">
  <title th:text="${pageTitle}">ADMIM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="row g-4" layout:fragment="content">
  <div class="col-12">
    <div class="bg-light rounded h-100 p-4">
      <div class="table-responsive">
        <div class="card mb-3">
          <form >
          <div class="card-header">
            Chi Tiết Yêu Cầu <span th:text="${requestion.getAccountID()}"></span>
          </div>
          <div class="card-body">
            <h5 class="card-title">ID yêu cầu: <span th:text="${requestion.getRequestID()}"></span></h5>
            <p class="card-text">Tên yêu cầu <span th:text="${requestion.getRequestName()}"></span></p>
            <p class="card-text">ID tài khoản <span th:text="${requestion.getAccountID()}"></span></p>
            <p class="card-text">Ngày bắt đầu <span th:text="${#dates.format(requestion.getStartDate(),'yyyy-MM-dd')}"></span></p>
            <p class="card-text">Ngày kết thúc <span th:text="${#dates.format(requestion.getEndDate(),'yyyy-MM-dd')}"></span></p>
            <p class="card-text">Lý do <span th:text="${requestion.getReason() != null ? requestion.reason.name : 'Không lý do'}"></span></p>
            <p class="card-text">Ngày gửi yêu cầu <span th:text="${#dates.format(requestion.getRequestDate(),'yyyy-MM-dd')}"></span></p>
            <p class="card-text">ID Người phê duyệt <span th:text="${requestion.getApproverID()}"></span></p>
            <p class="card-text">Trạng thái <span th:text="${requestion.getStatus()}"></span></p>
          </div>
          <div class="card-footer">
            <a th:href="@{/requestion/confirm/{id}(id=${requestion.requestID})}"
               class="btn btn-danger btn-sm">Xác Nhận
            </a>
            <a th:href="@{/requestion/deny/{id}(id=${requestion.requestID})}"
               class="btn btn-danger btn-sm">Từ Chối
            </a>
            <a th:href="@{/requestion/index.html}" class="btn btn-outline-info">Quay về</a>
          </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

</body>
</html>
