<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layoutAdmin/main}"
>
<head>
  <meta charset="utf-8" />
  <title th:text="${pageTitle}">Đơn Từ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="row g-4" layout:fragment="content">
  <div class="col-12"><div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">List of Requests</h6>
    <form th:action="@{/requestion/find}" method="get" class="mb-3">
      <div class="input-group">
        <input
                type="text"
                class="form-control"
                name="requestID"
                placeholder="Search by Request ID"
                aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">
          Search
        </button>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Request Name</th>
          <th scope="col">Account ID</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Request Date</th>
          <th scope="col">Approver</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="requestion, iterStat : ${requestions}">
          <td th:text="${requestion.requestID}"></td>
          <td th:text="${requestion.requestName}"></td>
          <td th:text="${requestion.accountID}"></td>
          <td class="format-date" th:text="${#dates.format(requestion.startDate,'yyyy-MM-dd')}"></td>
          <td class="format-date" th:text="${#dates.format(requestion.endDate,'yyyy-MM-dd')}"></td>
          <td class="format-date" th:text="${#dates.format(requestion.requestDate,'yyyy-MM-dd')}"></td>
          <td th:text="${requestion.approverID}"></td>
          <td th:text="${requestion.status}"></td>
          <td>
            <!-- Action Links -->
            <a th:href="@{/requestion/{id}(id=${requestion.getRequestID()})}" class="btn btn-info btn-sm">Details</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  </div>
</div>
</body>
</html>
