<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Time Keeping</title>
    <link rel="stylesheet" th:href="@{/home_assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/home_assets/css/custom.css}">
    <script src="../../static/home_assets/js/scripts-all.js"></script>
    <script src="../../static/home_assets/js/main.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="js-animsition animsition" id="site-wrap" data-animsition-in-class="fade-in"
     data-animsition-out-class="fade-out">

    <header th:fragment="header" class="templateux-navbar" role="banner"
            xmlns:th="http://www.thymeleaf.org">

        <div class="container" data-aos="fade-down">
            <div class="row">
                <div class="col-3 templateux-logo">
                    <a href="/home" class="animsition-link">
                        <img src="/img/logo.jpg" style="width: 250px">
                    </a>

                </div>
                <nav class="col-9 site-nav">
                    <button class="d-block d-md-none hamburger hamburger--spin templateux-toggle templateux-toggle-light ml-auto templateux-toggle-menu"
                            data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu"
                            aria-expanded="false" aria-label="Toggle navigation">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                    </button>
                    <ul class="sf-menu templateux-menu d-none d-md-block">
                        <li class="active">
                            <a href="/home" class="animsition-link">Home</a>
                        </li>
                        <li><a href="/about" class="animsition-link">About</a></li>
                        <li>
                            <a href="/service" class="animsition-link">Services</a>
                            <ul>
                                <li><a class="border-bottom py-2" href="/viewWorkSchedules">View Work Schedules</a></li>
                                <li><a class="border-bottom py-2" href="/registerWorkSchedules">Register Work Schedules</a></li>
                                <li><a class="border-bottom py-2" href="/job">Jobs</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact" class="animsition-link">Contact</a></li>
                        <li>
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Account
                                </a>

                                <div class="dropdown-menu dropdown-menu-right shadow-sm" aria-labelledby="dropdownMenuLink">
                                    <!-- Logout Section (Hidden by default) -->
                                    <div id="logout-section" style="display: none;">
                                        <a id="profile-link" class="dropdown-item text-dark" href="#">
                                            <i class="fas fa-user-circle mr-2 text-dark"></i> Profile
                                        </a>
                                        <a id="dashboard-view" href="/dashboard" class="dropdown-item text-dark">
                                            <i class="fas fa-tachometer-alt mr-2 "></i> Dashboard
                                        </a>
                                        <a href="#" onclick="deleteAuthToken()" class="dropdown-item text-danger">
                                            <i class="fas fa-sign-out-alt mr-2 text-danger"></i> Logout
                                        </a>
                                    </div>

                                    <!-- Login Section -->
                                    <a id="login-section" class="dropdown-item text-dark" th:href="@{/auth/login}">
                                        <i class="fas fa-sign-in-alt mr-2"></i> Login
                                    </a>
                                </div>

                            </div>

                        </li>
                        <li style="margin-left: 40px">
                            <div id="activityNotify" class="dropdown text-end">
                                <a class="nav-link dropdown-toggle text-end" href="#" role="button" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="text-align: end;">
                                    <i id="notificationBell" class="fa-regular fa-bell bell-icon" th:classappend="${activityUnreadNotifications != null and activityUnreadNotifications.size() > 0} ? 'shake' : ''"></i>
                                    <span class="badge bg-danger" id="notificationCount"
                                          th:if="${activityUnreadNotifications != null and activityUnreadNotifications.size() > 0}" th:text="${activityUnreadNotifications.size()}"
                                    >1</span>
                                </a>

                                <div class="dropdown-menu p-0" id="listActivityNotify">
                                    <div>
                                        <div class="px-3 pt-2 pb-1 text-black-50 border-bottom">
                                            <span style="font-size: 14px;">New notification received</span>
                                        </div>

                                        <div th:each="notification : ${activityNotifications}">
                                            <a th:href="@{/notifications/view/{id}(id=${notification.id})}" style="color: #333;">
                                                <div class="notification-item" th:classappend="${notification.isRead} ? 'read' : 'unread'">
                                                    <div class="d-flex justify-content-between">
                                                        <span th:text="${notification.content}" style="line-height: 18px;"></span>
                                                        <span class="notification-time" th:text="${notification.timeAgo}" style="text-align: end;"></span>
                                                    </div>
                                                    <small th:text="${notification.activity.description}" style="font-weight: 700;"></small>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="view-all-btn">
                                            <a th:href="@{/notifications}" class="btn btn-info text-white text-capitalize p-2">View All Notifications</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <script>
        // Hàm để xóa cookie AUTH-TOKEN
        function deleteAuthToken() {
            document.cookie = "AUTH-TOKEN=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            location.reload(); // Reload the page after logout to update the view
        }

        // Hàm để lấy cookie theo tên
        function getCookie(name) {
            let cookieArr = document.cookie.split(";");
            for (let i = 0; i < cookieArr.length; i++) {
                let cookiePair = cookieArr[i].split("=");
                if (name === cookiePair[0].trim()) {  // Trim to avoid spaces
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }

        // Khi trang được tải, kiểm tra cookie và cập nhật hiển thị
        window.onload = function() {
            let authToken = getCookie("AUTH-TOKEN");
            let accountId = getCookie("ACCOUNT-ID");
            let roleId = getCookie("ROLE-ID");

            let logoutSection = document.getElementById("logout-section");
            let loginSection = document.getElementById("login-section");
            let profileLink = document.getElementById("profile-link");
            let dashboard = document.getElementById("dashboard-view");


            if (authToken && accountId) {
                if(roleId >= 1 || roleId <= 3){
                    dashboard.style.display = "block";
                }
                profileLink.href = "/auth/profile?AccountId=" + accountId; // Set profile link
                console.log("Profile link set to: " + profileLink.href);
                logoutSection.style.display = "block"; // Show logout section
                loginSection.style.display = "none";  // Hide login section
            } else {
                dashboard.style.display = "none";
                logoutSection.style.display = "none"; // Hide logout section
                loginSection.style.display = "block"; // Show login section
                profileLink.href = "/auth/login"; // Set default login link
                console.log("Profile link set to login: " + profileLink.href);
            }
            // Log the values of the cookies
            console.log("AUTH-TOKEN: " + authToken);
            console.log("ACCOUNT-ID: " + accountId);
        };
    </script>

    <main layout:fragment="content">Nothing</main>

    <footer th:replace="~{layout/footer :: footer}"></footer>

</div> <!-- .js-animsition -->

<script th:src="@{/home_assets/js/scripts-all.js}"></script>
<script th:src="@{/home_assets/js/main.js}"></script>

</body>
</html>