<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin/main}">
<head>
    <meta charset="utf-8">
    <title th:text="${pageTitle}">ADMIM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="row g-4" layout:fragment="content">
                <div class="col-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Bảng Mẫu Lương</h6>
                        <form th:action="@{/salaryTemplates}" method="get" class="mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="name" placeholder="Tìm kiếm theo tên" aria-label="Search">
                                <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
                            </div>
                        </form>

                        <a href="/salaryTemplates/create" class="btn btn-success mb-3">Tạo Mới</a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên bậc lương</th>
                                    <th scope="col">Lương cơ bản</th>
                                    <th scope="col">Vùng</th>
                                    <th scope="col">Lương cơ bản cuối cùng</th>
                                    <th scope="col">Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="salaryTemplate, iterStat : ${salaryTemplates}">
                                    <td th:text="${iterStat.count}"></td> <!-- Đếm số thứ tự -->
                                    <td th:text="${salaryTemplate.gradeName}"></td>
                                    <td th:text="${#numbers.formatDecimal(salaryTemplate.baseSalary, 1, 'COMMA', 2, 'POINT')} + ' VND'"></td>
                                    <td th:text="${salaryTemplate.region.regionName}"></td>
                                    <td th:text="${#numbers.formatDecimal(salaryTemplate.calculateFinalBaseSalary(), 1, 'COMMA', 2, 'POINT')} + ' VND'"></td>
                                    <td>
                                        <!-- Action Links -->
                                        <a th:href="@{/salaryTemplates/edit/{id}(id=${salaryTemplate.salaryID})}" class="btn btn-primary btn-sm">Sửa</a>

                                        <a th:href="@{/salaryTemplates/delete/{id}(id=${salaryTemplate.salaryID})}"
                                           class="btn btn-danger btn-sm"
                                           onclick="return confirm('Bạn có chắc chắn muốn xóa mẫu lương này?');">Xóa</a>

                                        <a th:href="@{/salaryTemplates/{id}(id=${salaryTemplate.salaryID})}" class="btn btn-info btn-sm">Chi tiết</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
</body>
</html>
