<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin/main}">
<head>
    <meta charset="utf-8">
    <title th:text="${pageTitle}">ADMIM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="row g-4" layout:fragment="content">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Edit Bonus</h6>
            <div class="table-responsive">
                <form th:object="${bonus}" th:action="@{/bonus/edit}" method="post">
                    <div class="card">
                        <div class="card-header">
                            Edit Bonus Information <span th:text="${bonus.bonusType}"></span>
                        </div>
                        <div class="card-body">
                            <input type="hidden" th:field="*{bonusID}" />
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="bonusType">Bonus Type</label>
                                    <input type="text" th:field="*{bonusType}" id="bonusType" class="form-control" />
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="amount">Amount</label>
                                    <input type="number" th:field="*{amount}" id="amount" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="submit" class="btn btn-outline-success">Save</button>
                            <a th:href="@{/bonus}" class="btn btn-outline-danger">Go back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>